* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/44/Las_Vegas_Skyline_Graphic.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

header figure {
    margin: 5px;
    padding: 10px;
    flex-grow: 1;
}

header figure img {
    width: 200px;
    border: 5px white solid;
    border-radius: 50%;
    margin: auto;
    display: block;
}

header figure figcaption {
    width: 100%;
    background-color: gray;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
}

header figure figcaption strong {
    color: #fff;
    font-size: 32px;
}

header nav {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 10px;
    flex-grow: 10;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding-right: 5%;

}

header nav ul li a {
    color: white;
    font-size: 1.5em;
    text-decoration-thickness: 3px;
}

header nav ul li a:hover {
    color: darkslateblue;
}

main {
    min-height: 70vh;
}

aside {
    background-color: #2589bd;
    padding: 10px;
    margin-left: 25px;
    padding: 20px;
    clear: both;
    float: left;
    width: 21%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside img {
    width: 200px;
    border: 5px red solid;
    border-radius: 15px;
}

aside h1 {
    color: red;
}

aside P {
    font-style: monospace;
}

aside article {
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
}

aside article img {
    border-radius: 50%;
}

aside article h2 {
    color: blueviolet;
}

aside article p {
    color: orange;
}

section {
    background-color: blue;
}

section h2 {
    color: white;
}

section p {
    color: aqua;
}

section article {
    background-color: burlywood;
}

section article img {
    border-radius: 50%;
}

section article h3 {
    color: cornflowerblue;
}

section article p {
    color: deeppink;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
} */
