* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

/* Header selectors */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 30px;
}

header figure {
    margin: 5px;
    padding: 10px;
}

header figure img {
    width: 50%;
    border: 5px white solid;
    border-radius: 50%;
    margin: auto;
    display: block;
}

header figure figcaption {
    width: 80%;
    background-color: gray;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    display: block;
}

header figure figcaption strong {
    color: #fff;
    font-size: 1.67em;
}

header nav {
    text-align: center;
    display: block;
    margin: 5px;
    padding: 10px;
    flex-grow: 10;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding-right: 5%;

}

header nav ul li a {
    color: white;
    font-size: 1.5em;
    text-decoration-thickness: 10%;
}

header nav ul li a:hover {
    color: darkslateblue;
}

/* Main selectors */
main {
    min-height: 30vh;
    background-image: url(../images/metal_scrap.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section selectors */
section {
    display: flex;
    align-items: flex-end;
}

.heading {
    text-align: end;
    width: 15%;
    padding: 10px;
}

.content {
    width: 70%;
    padding: 10px;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.projimg {
    margin: 10px;
    width: 400px;
    border: 5px orange solid;
    border-radius: 10px;
}

.projfigcap {
    position: absolute;
    width: 400px;
    margin-left: 10px;
    margin-top: -100px;
    text-align: center;
    border: 5px orange solid;
    background-color: gray;
}

/* Aside selectors */
aside {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    margin-top: -150px;
    background-color: gray;
    padding: 20px;
    clear: both;
    float: right;
    width: 200px;
    font-family: monospace;
}

aside img {
    width: 90%;
    border-radius: 15px;
}

aside h2 {
    text-decoration: underline;
    font-weight: bolder;
    font-size: xx-large;
}

aside P {
    margin-bottom: 10px;
}

aside article {
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
}

aside article img {
    border: 5px purple solid;
    width: 40%;
    border-radius: 50%;
}

aside article h2 {
    color: blueviolet;
}

aside article p {
    color: orange;
}
*/

/* Footer selectors */
footer {
    display: flex;
    align-items: flex-end;
    padding: 30px;
    clear: both;
    text-align: center;
}

footer address {
    background-color: crimson;
    color: aqua;
    text-align: center;
    font-style: normal;
}

footer address ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer address ul li img {
    margin: 20px;
    width: 25px;
}

/* Media query selectors */
@media screen and (max-width: 1367px) {
    .content {
        width: 400px;
    }
}

@media screen and (min-width: 1368px) {
    .content {
        width: 867px;
    }
}