body {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    padding: 2%;
    background-color: royalblue;
    color: white;
}

section {
    display: block;
}

h1 {
    font-size: 200%;
}

img {
    width: 20%;
    border-radius: 20%;
  }

h2 {
    font-size: 175%;
}
